<style>
    /*color de fondo y tipo de letra general*/
	body {
  	background-color: #BFB;
  	font-family: Agency FB, sans-serif;
	}
    /*titulo 1 */
	h1 {
  	color: #1826B5;
  	font-size: 4em;
  	text-align: center;
	}
    /*subtitulo*/
	h2 {
  	color: #15E19F;
  	font-size: 2em;
  	text-align: center;
	}
    /*parrafo*/
	p {
  	font-size: 16px;
  	color: RGB(50, 50,50);
  	text-align: justify;
	}
	/*botones (no tiene)*/
	.boton:hover {
	background-color: #005f73;
}

/* Estilos para botones */
.boton {
	background-color: #008cba;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
}

  </style>
